@model DotNetCoreTesting.ViewModels.HomeDetailsViewModel

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee Details";
}

 <h1>@Model.PageTitle</h1>
    <div>
        ID:@Model.Employee.Id
    </div>
    <div>
        Name:@Model.Employee.Name
    </div>
    <div>
        Department:@Model.Employee.Department
    </div>
    <div>
        Email:@Model.Employee.Email
    </div>

