@model DotNetCoreTesting.ViewModels.HomeDetailsViewModel

@{ 
    ViewBag.Title = "Employee Details";
}

 <h1>@Model.PageTitle</h1>
    <div>
        ID:@Model.Employee.Id
    </div>
    <div>
        Name:@Model.Employee.Name
    </div>
    <div>
        Department:@Model.Employee.Department
    </div>
    <div>
        Email:@Model.Employee.Email
    </div>
@section Scripts{ 
    <script src="~/js/CustomScript.js"></script>
}
