@model IEnumerable<DotNetCoreTesting.Models.Employee>

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emp in Model)
                {
                    <tr>
                        <td>@emp.Id</td> 
                        <td>@emp.Name</td>
                        <td>@emp.Department</td>
                        <td>@emp.Email</td>
                    </tr>
                }
            </tbody>
        </table>
        </body>
    </html>